# CSI3007_lab_7_22MID0181
# DATE:5/08/2025

In [1]:
def double(x):
    return x*2
double(3)

6

In [40]:
def add(x,y):
    return(x+y)
add(5,5)

10

In [41]:
a=(lambda x:x+2)(3)
print(a)

5

In [2]:
num=[1,2,3,4] #iterable
for i in num:
    print(i)

1
2
3
4

In [5]:
n=234578 #integer is not iterable
for i in n:
    print(i)

TypeError: 'int' object is not iterable

In [6]:
#to fix that error
n=35325
num=str(n)#converting to string
for i in num:
    print(i)

3
5
3
2
5

In [9]:
c=248356
digits=[int(d) for d in str(c)]
print(digits)

[2, 4, 8, 3, 5, 6]

In [10]:
for digits in digits:
    print(digits)

2
4
8
3
5
6

In [11]:

#check if it is iterable or not
n=[2,4,5,7]
print(dir(n))#if there is iter then it means it is iterable

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [14]:
names=['ema','tom','har']
looper=names.__iter__()#same->looper=iter(names)

In [15]:
type(looper)

list_iterator

In [16]:
type(names)

list

In [22]:
names=['ema','tom','har'] 
looper=iter(names)
print(next(looper))# it will not work backwards
print(next(looper))
print(next(looper))
print(next(looper))#if the elements in list is finished it will through a error

ema
tom
har

StopIteration:

In [34]:
looper=iter(names)
while True:
    try:
        name=next(names)
        print(name)
    except StopIteration:
        break

TypeError: 'list' object is not an iterator

In [25]:
looper=iter(names)
while True:
    try:
        name=next(looper)
        print(name)
    except StopIteration:
        break

ema
tom
har

In [33]:
def square (x):
    return x*x
numbers=[1,2,3,4,5]
print(list(map(square,numbers)))#map each element to a function

[1, 4, 9, 16, 25]

In [43]:
a=lambda x:x*x #using lambda functions
numbers=[1,2,3,4,5]
print(list(map(a,numbers)))

[1, 4, 9, 16, 25]

In [42]:
numbers=[1,2,3,4,5]
print(list(map(lambda x:x*x,numbers)))

[1, 4, 9, 16, 25]

In [48]:
#filter takes each element in numbers like map and checks condition
print(list(filter(lambda x:x>3,numbers)))#filter allows only elements in number which satisfies the condition

[4, 5]

In [53]:
def lower(x):
    for i in x:
      print(i.lower())
a=['AGNES','RACHEL']
lower(a)

agnes
rachel

In [54]:
#with map function and lamba
lower=lambda x:x.lower()
a=['AGNES','RACHEL']
print(list(map(lower,a)))

['agnes', 'rachel']

In [57]:
from functools import reduce #cumulatively adding like take 1 element add to previous
numbers=[1,2,3,4,5]
print(reduce(lambda x,y:x+y,numbers))

15

In [62]:
quote=['life','is','simple']
print(reduce(lambda x,y:x+' '+y,quote))

life is simple